*{
    margin: 0px; 
    padding: 0px;
}

body{
    background:#182e38;
}
.Cuadrado h3{
    position: relative;
    left: 17%;
    top: -93px;
    width: 185px;
    font-family: Arial, sans-serif;
}
.Cuadrado {
    width: 500px;
    height: 400px;
    margin: 100px auto;
    background: #b2ffa8;
    border-radius: 10%;
   
}

.lista{
    padding: 2px;
    width: 268px;
    height: 233px;
    background: #ffffce;
    overflow-y: scroll;
    position: relative;
    left: 8%;
    top: -79px;
    font-family: Arial, sans-serif;
    
    }
button{
    display: block;
    margin: 13px;
    width: 91px;
    height: 36px;
    position: relative;
    left: 70%;
    top: 0px;
    border-radius: 50px;
}

  input{
    width: 190px;
    position: relative;
    left: 37px;
    top: 23px;
    padding: 9px;
     border-radius: 50px; 
    margin: 21px;
  }
  .lista h3  {
    position: relative;
    left: 17%;
    top: 10px;
  }
  #lista{
    position: relative;
    left: 24%;
    top: 17px;
  }
  #boton1{
    background-color: #009d00;
    color: white;
    cursor: pointer;
}
  #boton2{
    background-color:#e28100;
    color: white;
    cursor: pointer;
  }